In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv('nobel_laureates_data.csv')
df

,year,category,motivation,prizeShare,laureateID,fullName,gender,born,bornCountry,bornCity,died,diedCountry,diedCity,organizationName,organizationCountry,organizationCity
0,2023,medicine,for their discoveries concerning nucleoside ba...,2,1024,Katalin Kariko,female,17-01-1955,Hungary,Szolnok,0000-00-00,NaN,NaN,Szeged University,Hungary,Szeged
1,2023,economics,for having advanced our understanding of women...,1,1034,Claudia Goldin,female,1946-00-00,USA,New York NY,0000-00-00,NaN,NaN,Harvard University,USA,Cambridge MA
2,2023,peace,for her fight against the oppression of women ...,1,1033,Narges Mohammadi,female,21-04-1972,Iran,Zanjan,0000-00-00,NaN,NaN,NaN,NaN,NaN
3,2023,literature,for his innovative plays and prose which give ...,1,1032,Jon Fosse,male,29-09-1959,Norway,Haugesund,0000-00-00,NaN,NaN,NaN,NaN,NaN
4,2023,chemistry,for the discovery and synthesis of quantum dots,3,1031,Alexei Ekimov,male,1945-00-00,Russia,NaN,0000-00-00,NaN,NaN,Nanocrystals Technology Inc.,USA,New York NY
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1901,peace,for his lifelong work for international peace ...,2,463,Frederic Passy,male,1822-05-20,France,Paris,6/12/1912,France,Paris,NaN,NaN,NaN
996,1901,peace,for his humanitarian efforts to help wounded s...,2,462,Henry Dunant,male,1828-05-08,Switzerland,Geneva,10/30/1910,Switzerland,Heiden,NaN,NaN,NaN
997,1901,medicine,for his work on serum therapy especially its a...,1,293,Emil von Behring,male,1854-03-15,Poland,Lawice,3/31/1917,Germany,Marburg,Marburg University,Germany,Marburg
998,1901,chemistry,in recognition of the extraordinary services h...,1,160,Jacobus H. van 't Hoff,male,1852-08-30,the Netherlands,Rotterdam,3/1/1911,Germany,Berlin,Berlin University,Germany,Berlin
999,1901,physics,in recognition of the extraordinary services h...,1,1,Wilhelm Conrad Rontgen,male,1845-03-27,Germany,Remscheid,2/10/1923,Germany,Munich,Munich University,Germany,Munich